@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1 > a > .icon.icon-link:before,
h2 > a > .icon.icon-link:before,
h3 > a > .icon.icon-link:before {
  content: "#";
  font-size: 0.8rem;
}

h2 > a,
h3 > a {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  width: 2px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #999;
  border-radius: 2px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 2px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

/* Standard scrollbar styles */
body {
  scrollbar-width: thin;
  scrollbar-color: #f97316 #999;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: #999;
}

body::-webkit-scrollbar-thumb {
  background-color: #f97316;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
